body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1{
    font-size: 60px;
    font-weight: 700px;
    shadow
}
p{
    text-align: justify;
    font-size: 25px;
    color: #0f5827;
    background-color: #d8c7b7dc;
    padding: 10px;
}

.orange-color {
    color: orange;

}
section {
    display: flex;
}
.fyja{
    width: 30%;
}
.fatema{
    width: 80%;
    padding-top: 20px;
    padding-left: 20px;
}
.fatema img{
    margin-left: 25px;
    margin-top: 90px;
    margin-right: 20px;
    
}
#banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;

    
}